
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$pink: rgb(226, 121, 133);
$darkBlue: rgb(31, 79, 181);
$skyBlue: rgb(66, 143, 238);
$lightGreen: rgb(94, 205, 189);
$darkGray: rgb(89, 87, 87);
$lightGray: rgb(114, 113, 113);
$moreLightGray: rgb(181, 181, 182);
